@font-face {
  font-family: Nunito-Regular;
  src: url('../fonts/nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito-Bold;
  src: url('../fonts/nunito/Nunito-Bold.ttf');
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url('../fonts/nunito/Nunito-SemiBold.ttf');
}

body {
  font-family: Nunito-Regular;
}

.fw-semibold {
  font-family: Nunito-SemiBold;
}

.btn,
.fw-bolder {
  font-family: Nunito-Bold;
}

app-root {
  display: grid;
}

app-root,
app-notfound #kt_app_root {
  height: 100%;
}

app-notfound {
  background-image: url('../media/image/bg1.jpg');
}
