:root {
  --footer-background: #f1f5f9;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: Poppins-Regular !important;
}

.fw-semibold {
  font-family: Poppins-SemiBold;
}

.btn,
.fw-bolder {
  font-family: Poppins-Bold;
}

app-root {
  display: grid;
}

app-root,
app-public,
app-notfound,
app-notfound #not-found,
app-signin,
app-signin #signin,
app-form-signin #form-signin,
app-introduction #introduction,
app-recover,
app-recover #recover,
app-form-recover-password #form-recover-password,
app-private,
app-private #kt_app_root {
  height: 100%;
}
app-introduction {
  width: 100%;
}

app-notfound {
  background-image: url('../media/image/bg/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

app-public {
  background-image: url('../media/image/bg/bg10.jpg');
  background-size: cover;
  background-position: center;
}

#kt_app_footer {
  background: var(--footer-background);
}

app-toggle-user,
app-toggle-theme,
app-toggle-shortcut,
app-toggle-notification,
app-toggle-search,
app-toggle-activity {
  display: flex;
  align-items: center;
}
