:root {
  --button-info-background: #0284c7;
  --button-info-border-color: #0284c7;
  --button-info-color: #ffffff;
  --button-info-hover-background: #075985;
  --button-info-hover-border-color: #075985;
  --button-info-hover-color: #ffffff;
  --inputtext-background: #fdfdfd;
  --inputtext-background-focus: #f1f1f4;
  --inputtext-color: #4b5675;
  --inputtext-border-color: #dbdfe9;
  --inputtext-padding-y: 1rem;
  --inputtext-focus-border-color: #0284c7;
  --floatlabel-over-active-top: 0.3rem;
  --floatlabel-active-font-size: 1rem;
  --floatlabel-focus-color: #4b5675;
  --floatlabel-label-active-font-weight: bold;
  --floatlabel-label-active-color: #0284c7;
  --inputtext-focus-ring-shadow: 0 0 0 0.2rem color-mix(in srgb, #0284c7, transparent 80%);
  --button-secondary-background: #f1f5f9;
  --button-secondary-border-color: #f1f5f9;
  --button-secondary-color: #475569;
  --button-secondary-hover-background: #e2e8f0;
  --button-secondary-hover-border-color: #e2e8f0;
  --button-secondary-hover-color: #334155;
  --inputtext-color-invalid-feedback: #ef4444;
}

.p-button {
  padding: calc(0.775rem + 1px) calc(1.5rem + 1px) !important;
}
.p-button-label {
  font-weight: bold !important;
}
.p-button-info {
  background: var(--button-info-background) !important;
  border: 1px solid var(--button-info-border-color) !important;
  color: var(--button-info-color) !important;
}

.p-button-info:not(:disabled):hover {
  background: var(--button-info-hover-background) !important;
  border: 1px solid var(--button-info-hover-border-color) !important;
  color: var(--button-info-hover-color) !important;
}

#button_signin button,
.p-inputtext,
.p-password {
  width: 100% !important;
}

.p-inputtext {
  color: var(--inputtext-color) !important;
  background: var(--inputtext-background) !important;
  border: 1px solid var(--inputtext-border-color) !important;
  font-size: 1.2rem !important;
  padding-block: var(--inputtext-padding-y) !important;
}

.p-inputtext:enabled:focus,
.p-inputtext:enabled:hover {
  border-color: var(--inputtext-focus-border-color) !important;
  box-shadow: var(--inputtext-focus-ring-shadow) !important;
  background: var(--inputtext-background-focus) !important;
}

.p-floatlabel:has(input:focus) label,
.p-floatlabel:has(input.p-filled) label,
.p-floatlabel:has(input:autofill) label,
.p-floatlabel:has(textarea:focus) label,
.p-floatlabel:has(textarea.p-filled) label,
.p-floatlabel:has(.p-inputwrapper-focus) label,
.p-floatlabel:has(.p-inputwrapper-filled) label {
  font-size: var(--floatlabel-active-font-size) !important;
  top: var(--floatlabel-over-active-top) !important;
  font-weight: var(--floatlabel-label-active-font-weight) !important;
}

.p-floatlabel-in:has(input:focus) label,
.p-floatlabel-in:has(textarea:focus) label,
.p-floatlabel-in:has(.p-inputwrapper-focus) label {
  color: var(--inputtext-color) !important;
}

.p-floatlabel-in:has(input.p-filled) label,
.p-floatlabel-in:has(input:autofill) label,
.p-floatlabel-in:has(textarea.p-filled) label,
.p-floatlabel-in:has(.p-inputwrapper-filled) label {
  color: var(--floatlabel-label-active-color) !important;
}

app-button {
  padding: 0.5rem;
}

.p-button-secondary {
  background: var(--button-secondary-background) !important;
  border: 1px solid var(--button-secondary-border-color) !important;
  color: var(--button-secondary-color) !important;
}
.p-button-secondary:not(:disabled):hover {
  background: var(--button-secondary-hover-background) !important;
  border: 1px solid var(--button-secondary-hover-border-color) !important;
  color: var(--button-secondary-hover-color) !important;
}

app-inputmask.ng-invalid.is-invalid input.p-inputtext.p-component,
app-password.is-invalid input.p-inputtext.p-component {
  outline: 0 none !important;
  outline-offset: 0 !important;
  border-color: var(--inputtext-color-invalid-feedback) !important;
  box-shadow: 0 0 5px var(--inputtext-color-invalid-feedback) !important;
}
app-inputmask.ng-invalid.is-invalid label,
app-password.is-invalid label {
  color: var(--inputtext-color-invalid-feedback) !important;
}
