<div class="app-navbar-item ms-1 ms-md-4">
  <div
    class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px"
    data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end">
    <i class="ki-duotone ki-element-11 fs-2"
      ><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span
    ></i>
  </div>
  <div class="menu menu-sub menu-sub-dropdown menu-column w-100 w-sm-350px" data-kt-menu="true">
    <div class="card">
      <div class="card-header">
        <div class="card-title">Aplicativos</div>
      </div>
      <div class="card-body py-5">
        <div class="mh-450px scroll-y me-n5 pe-5">
          <div class="row g-2">
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/amazon.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">AWS</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/angular-icon-1.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">AngularJS</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/atica.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Atica</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/beats-electronics.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Music</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/codeigniter.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Codeigniter</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/bootstrap-4.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Bootstrap</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/google-tag-manager.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">GTM</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/disqus.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Disqus</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/dribbble-icon-1.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Dribble</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/google-play-store.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Play Store</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/google-podcasts.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Podcasts</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/figma-1.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Figma</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/github.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Github</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/gitlab.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Gitlab</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/instagram-2-1.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Instagram</span>
              </a>
            </div>
            <div class="col-4">
              <a
                href="#"
                class="d-flex flex-column flex-center text-center text-gray-800 text-hover-primary bg-hover-light rounded py-4 px-3 mb-3">
                <img src="./assets/media/svg/brand-logos/pinterest-p.svg" class="w-25px h-25px mb-2" alt="" />
                <span class="fw-semibold">Pinterest</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
